In [6]:
from azureml.core import Workspace, Datastore, Dataset, Experiment
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())

ws = Workspace.from_config("./config")
az_store = Datastore.get(ws, "azure_sdk_blob01")
az_dataset = Dataset.get_by_name(ws, "Loan Data using SDK")
az_default_store = ws.get_default_datastore()

In [7]:
# Create an experiment object

experiment = Experiment(workspace=ws,
                        name="Loan-SDK-Exp01")

In [8]:
# Run experiment using start_logging method

new_run = experiment.start_logging()

In [12]:
# Complete an experiment run

new_run.complete()

In [13]:
# Log experiment values

new_run = experiment.start_logging()

df = az_dataset.to_pandas_dataframe()

total_observations = len(df)
nulldf = df.isnull().sum()

new_run.log("Total Observations", total_observations)

new_run.complete()

{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe'}
{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe', 'activityApp': 'TabularDataset'}

In [14]:
# Log multiple experiment values

new_run = experiment.start_logging()

df = az_dataset.to_pandas_dataframe()

total_observations = len(df)
nulldf = df.isnull().sum()

new_run.log("Total Observations", total_observations)

for columns in df.columns:
    new_run.log(columns, nulldf[columns])

new_run.complete()

{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe'}
{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe', 'activityApp': 'TabularDataset'}

In [15]:
df

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K