In [5]:
from azureml.core import Workspace, Datastore, Dataset
from dotenv import load_dotenv, find_dotenv
_ = load_dotenv(find_dotenv())
import os

# ws = Workspace.create(name=os.environ[WORKSPACE_NAME],
#                       subscription_id=os.environ[SUBSCRIPTION_ID],
#                       resource_group="AzureMLsdkgroup",
#                       create_resource_group=True,
#                       location=os.environ[LOCATION])

# ws.write_config(path="./config")

In [6]:
ws = Workspace.from_config(path="./config")

In [6]:
# az_store = Datastore.register_azure_blob_container(workspace=ws,
#                                                    datastore_name="azure_sdk_blob01",
#                                                    account_name="slavasdkstorage",
#                                                    container_name="firstsdkcontainer",
#                                                    account_key=os.environ["STORAGE_ACCOUNT_KEY"])

In [8]:
# az_store = Datastore.get(ws, "azure_sdk_blob01")

In [9]:
# csv_path = [(az_store, "Loan Data/adultincome.csv")]

In [10]:
# loan_dataset = Dataset.Tabular.from_delimited_files(path=csv_path)

# loan_dataset = loan_dataset.register(workspace=ws, name="Loan Data using SDK", create_new_version=True)

In [12]:
ws_list = Workspace.list(subscription_id=os.environ["SUBSCRIPTION_ID"])
ws_list = list(ws_list)
ws_list

['slavasdkworkspace']

In [1]:
az_default_store = ws.get_default_datastore()
# az_default_store

NameError: name 'ws' is not defined

In [14]:
store_list = list(ws.datastores)
store_list

['azure_sdk_blob01',
 'workspacefilestore',
 'workspaceartifactstore',
 'workspaceworkingdirectory',
 'workspaceblobstore']

In [2]:
az_dataset = Dataset.get_by_name(ws, "Loan Data using SDK")
# az_dataset

NameError: name 'Dataset' is not defined

In [17]:
ds_list = list(ws.datasets.keys())
ds_list

['Loan Data using SDK']

In [18]:
from azureml.core import Workspace, Datastore, Dataset

ws = Workspace.from_config("./config")
az_store = Datastore.get(ws, "azure_sdk_blob01")
az_dataset = Dataset.get_by_name(ws, "Loan Data using SDK")
az_default_store = ws.get_default_datastore()

In [20]:
df = az_dataset.to_pandas_dataframe()
df

{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe'}
{'infer_column_types': 'False', 'activity': 'to_pandas_dataframe', 'activityApp': 'TabularDataset'}

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [22]:
df_sub = df[['age', "workclass", "marital-status"]]
df_sub

       age          workclass       marital-status
0       39          State-gov        Never-married
1       50   Self-emp-not-inc   Married-civ-spouse
2       38            Private             Divorced
3       53            Private   Married-civ-spouse
4       28            Private   Married-civ-spouse
...    ...                ...                  ...
32556   27            Private   Married-civ-spouse
32557   40            Private   Married-civ-spouse
32558   58            Private              Widowed
32559   22            Private        Never-married
32560   52       Self-emp-inc   Married-civ-spouse

[32561 rows x 3 columns]

In [23]:
az_ds_from_df = Dataset.Tabular.register_pandas_dataframe(dataframe=df_sub,
                                                          target=az_store,
                                                          name="Loan Dataset From Dataframe")

Validating arguments.
Arguments validated.
Validating arguments.
Arguments validated.
'overwrite' is set to True. Any file already present in the target will be overwritten.
Uploading files from 'C:/Users/User/AppData/Local/Temp/tmp_qqjl1qu' to 'managed-dataset/d1b67708-f4b6-4795-a619-61c97c4543c6/'
Successfully uploaded file to datastore.
Creating and registering a new dataset.
Successfully created and registered a new dataset.

In [24]:
from azureml.core import Workspace, Datastore, Dataset

ws = Workspace.from_config("./config")
az_store = Datastore.get(ws, "azure_sdk_blob01")
az_dataset = Dataset.get_by_name(ws, "Loan Data using SDK")
az_default_store = ws.get_default_datastore()

In [3]:
# files_list = ["./data/AC1.csv", "./data/AC2.csv"]

# az_store.upload_files(files=files_list,
#                       target_path="Loan Data/",
#                       relative_root="./data/",
#                       overwrite=True)

In [4]:
# az_store.upload(src_dir = "./data",
#                 target_path="Loan Data/dataNew",
#                 overwrite=True)